.active{
    
    /* text-underline-offset: 10px;
    text-decoration-thickness: 6px;
    text-decoration-line: underline ;
    text-decoration-color: rgb(233, 233, 81); */
    border-bottom: 5px solid red;
  
}